
      <table class="table table-inverse table-bordered">
        <thead>
          <tr>
            <th colspan="4">Top 100 Most Visited Sites</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th colspan="4">
              <input type="text" id="search_function" class="form-control" onkeyup="search()" placeholder="Search for your favorite site.."/>
            </th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Ranking</th>
            <th># of Visitors</th>
            <th>Destination</th>
            <th>ApocoUrl</th>
          </tr>
        </thead>

        <tbody>
          <% @short_links.each.with_index do |short_link, i| %>
            <tr class="sticky">
              <td><%= i+1 %></td>
              <td><%= short_link.visited %></td>
              <td><a href="http://<%=short_link.destination%>"><%= short_link.destination %></a></td>
              <td><a href=<%=short_link.slug%>><%= request.original_url + short_link.slug %></a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <br>
