
      <table class="table table-inverse table-bordered">
        <thead>
          <tr>
            <th colspan="2">Top <%=@num%> Most Visited Sites</th>
            <th colspan="1"><a href="/i/200">Top 200</a></th>
            <th colspan="1"><a href="/i/300">Top 300</a></th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th colspan="4">
              <input type="text" id="search_function" class="form-control" onkeyup="search()" placeholder="Search for your favorite site.."/>
            </th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Ranking</th>
            <th># of Visitors</th>
            <th>Destination</th>
            <th>ApocoUrl</th>
          </tr>
        </thead>

        <tbody>
          <% @short_links.each.with_index do |short_link, i| %>
            <tr class="sticky">
              <td><%= i+1 %></td>
              <td><%= short_link.visited %></td>
              <td><a href="http://<%=short_link.destination%>"><%= short_link.destination %></a></td>
              <% request.path.length == 2 ? len = request.path.length + 1 : len= request.path.length%>
              <% if short_link.custom_slug %>
              <td><a href="/a/<%=short_link.slug%>"><%= request.original_url.slice(0..-len) + 'a/' + short_link.slug %></a></td>
              <%else%>
              <td><a href="/<%=short_link.slug%>"><%= request.original_url.slice(0..-len) + short_link.slug %></a></td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
    <br>
