
<h1>Short Links</h1>

<%= render 'form', short_link: @short_link %>

<% if notice %>
  <p id="notice"><a href=<%=notice%>><%= notice %> </a>successfully created.</p>
<%end %>

<table class="table">
  <thead>
    <tr>
      <th># of Visitors</th>
      <th>Destination</th>
      <th>TinierURL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @short_links.each do |short_link| %>
      <tr>
        <td><%= short_link.visited %></td>
        <td><a href=<%=short_link.destination%>><%= short_link.destination %></a></td>
        <td><a href=<%=short_link.slug%>><%= request.original_url + short_link.slug %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
