<p id="notice"><%= notice %></p>

<h1>Short Links</h1>

<table>
  <thead>
    <tr>
      <th>Slug</th>
      <th>Visited</th>
      <th>Destination</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @short_links.each do |short_link| %>
      <tr>
        <td><%= short_link.slug %></td>
        <td><%= short_link.visited %></td>
        <td><%= short_link.destination %></td>
        <td><%= link_to 'Show', short_link %></td>
        <td><%= link_to 'Edit', edit_short_link_path(short_link) %></td>
        <td><%= link_to 'Destroy', short_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Short Link', new_short_link_path %>
