<p id="notice"><%= notice %></p>

<p>
  <strong>Slug:</strong>
  <%= @short_link.slug %>
</p>

<p>
  <strong>Visited:</strong>
  <%= @short_link.visited %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @short_link.destination %>
</p>

<%= link_to 'Edit', edit_short_link_path(@short_link) %> |
<%= link_to 'Back', short_links_path %>
